/* MOBILE */ 
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none!important;
    }

    .header__nav-item-link {
        font-size: 1.8rem;
    }

    .header__nav-item-link:hover .facebook-mini-page {
        display: none;
    }

    .header-content__heading {
        font-size: 2.2rem;
    }

    .header-content__sub-heading {
        font-size: 1.8rem;
    }

    .menu__list {
        padding-left: 0;
        width: 60vw;
    }

    .menu__item-link {
        padding-left: 20px;
        font-size: 2rem;
    }

    .menu__item-link:hover {
        padding-left: 24px;
    }

    .page__list {
        padding: 74px 8px 0;
    }

    .page__list-type {
        font-size: 2.2rem;
        padding-left: 0;
    }

    .page__list-no-item {
        font-size: 1.6rem;
    }

    .page__item {
        margin-top: 8px;
    }

    .page__img {
        height: 200px;
    }
    
    .page__name {
        font-size: 1.6rem;
        word-spacing: 2px;
    }

    .page__date-update {
        font-size: 1.4rem;
    }

    .page__desc {
        font-size: 1.2rem;
    }

    
    .about__body {
        padding: 0 8px;
    }
    
    .about__heading {
        font-size: 2rem;
    }

    .about__body-sub-heading {
        font-size: 1.6rem;
    }

    .about__body-desc {
        font-size: 1.5rem;
        font-style: italic;
    }

    .footer {
        padding: 32px 0;
    }

    .copyright {
        font-size: 1.4rem;
    }
}