/* MOBILE AND TABLET */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .menu__close-btn {
        -webkit-tap-highlight-color: transparent;
    }

    .menu__close-btn:hover {
        background-color: var(--primary-color);
    }
}

/* TABLET */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .menu__close-btn {
        left: 90px;
        display: block;
        height: 50px;
    }

    .menu__list {
        width: 50vw;
        padding-left: 100px;
    }

    .menu__item-link {
        padding-left: 00px;
        font-size: 2rem;
    }

    .menu__item-link:hover {
        padding-left: 18px;
    }
}

/* MOBILE */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none !important;
    }

    .header__nav-item-link {
        font-size: 1.8rem;
    }

    .header__nav-item-link:hover .facebook-mini-page {
        display: none;
    }

    .menu__close-btn {
        left: 12px;
        display: block;
    }

    .header-content {
        padding-top: 24px;
    }

    .header-content__heading {
        font-size: 2.2rem;
    }

    .header-content__sub-heading {
        font-size: 1.8rem;
    }

    .menu__list {
        padding-left: 0;
        width: 60vw;
    }

    .menu__item-link {
        padding-left: 20px;
        font-size: 2rem;
    }

    .menu__item-link:hover {
        padding-left: 24px;
    }

    .page__list {
        padding: 74px 8px 0;
    }

    .page__list-type {
        font-size: 2.2rem;
        padding-left: 0;
    }

    .page__list-no-item {
        font-size: 1.6rem;
    }

    .page__item {
        margin-top: 8px;
    }

    .page__img {
        height: 200px;
    }

    .page__name {
        font-size: 1.6rem;
        word-spacing: 2px;
    }

    .page__date-update {
        font-size: 1.4rem;
    }

    .page__desc {
        font-size: 1.2rem;
    }

    .about__img {
        border-radius: 0;
    }

    .about__body {
        padding: 0 8px;
    }

    .about__heading {
        font-size: 2rem;
    }

    .about__body-sub-heading {
        font-size: 1.6rem;
    }

    .about__body-desc {
        font-size: 1.5rem;
        font-style: italic;
    }

    .footer {
        padding: 32px 0;
    }

    .copyright {
        font-size: 1.4rem;
    }
}