body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-track {
    background: var(--white-color);
    /* Màu nền ngoài của thanh scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--black-color);
    /* Màu của thanh cuộn (scroll thumb) */
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #5f5f5f; /* Hiệu ứng di chuột đổi màu*/
}

.main {
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 2px solid var(--black-color);
    background-color: var(--white-color);
    height: var(--header-height);
    z-index: 99999;
    display: flex;
    align-items: center;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__name-link {
    text-decoration: none;
    color: var(--black-color);
}

.header__name-page {
    font-size: 1.4rem;
}

.icon-fire {
    color: #FF7043;
}

.header__nav {
    display: flex;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__item {
    position: relative;
}

.nav__item--active .nav__item-link {
    color: var(--primary-color);
}

.nav__item-link {
    font-size: 1.6rem;
    padding: 8px 32px;
    text-decoration: none;
    color: var(--black-color);
    transition: transform linear .12s;
    line-height: 1.8rem;
    display: block;
}

.nav__item-link:hover {
    color: var(--primary-color);
    transform: translateY(-3px);
}

.nav__item:hover .item__float-box {
    display: flex;
}

.item__float-box {
    position: absolute;
    color: var(--black-color);
    top: 100%;
    left: 0;
    min-width: 150px;
    width: 100%;
    min-height: 50px;
    background-color: var(--white-color);
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
    border-radius: 4px;
    display: none;
    list-style: none;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
}

.float-box__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex: 1;
    width: 100%;
}

.float-box__item-link {
    padding: 12px 0;
    display: block;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.4rem;
    margin: 0 20px;
    will-change: transform;
    transition: transform linear .1s;
}

.float-box__item:hover {
    background-color: #E8F5E9;
}

.float-box__item:hover .float-box__item-link {
    transform: translateX(-3px);
    color: #43A047;
}

.float-box__item-icon--facebook {
    color: #4267B2;
    font-size: 1.6rem;
    margin-right: 4px;
}

/* Mobile menu */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    animation: FadeIn ease .4s;
}

.header__mobile-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 0 12px;
}

.header__mobile-menu-icon {
    font-size: 1.8rem;
}

.mobile__menu {
    position: fixed;
    top: var(--header-height);
    bottom: 0;
    background-color: var(--white-color);
    width: 70%;
    z-index: 1;
    box-shadow: 1px 0 2px #c0bdbd;
    list-style: none;
    display: none;
}


.mobile__menu-input:checked~.mobile__menu,
.mobile__menu-input:checked~.modal {
    display: block;
}

.mobile__menu-heading {
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
    padding: 8px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid #d8d8d8;
}

.mobile__menu-item {
    width: 100%;
}

.mobile__menu-item-link {
    font-size: 1.7rem;
    display: block;
    color: var(--black-color);
    text-decoration: none;
    padding: 12px 16px;
}


/* Content */
.content {
    margin-top: calc(var(--header-height) + 24px);
}

.content__img-wrap {
    border: 2px solid var(--black-color);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: block;
    padding: 0;
    min-height: 200px;
    height: 100%;
}

.content__img-wrap:hover {
    filter: brightness(.8);
}

.content__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content__heading {
    font-size: 3rem;
    margin: 0;
    color: var(--text-color);
    text-shadow: 0 0 3px rgba(0, 0, 0, .2);
    margin-left: 30px;
}

.content__heading-description {
    font-size: 2rem;
    margin-top: 15px;
    opacity: .6;
    margin-left: 30px;
}

/*content_body*/
.content__body {
    margin-top: 32px;
}

.content__category {
    background-color: var(--white-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    margin: 0;
    height: 200px;
    border-radius: 5px;
    display: block;
}

.category-heading {
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 10px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.category-heading i {
    margin-right: 4px;
}

.category__list {
    padding-left: 18px;
    list-style: none;
}

.category__item {
    display: flex;
    min-height: 30px;
    align-items: center;
}

.category__item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    will-change: transform;
    transition: transform linear .1s;
}

.category__item:hover .category__item-link {
    transform: translateX(-3px);
    color: #4CAF50;
}

/* content page */
.page-item {
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    cursor: pointer;
    will-change: transform;
    transition: transform linear .1s;
    margin-bottom: 12px;
    position: relative;
}

.page-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 0 16px rgba(0, 0, 0, .2);
}

.page-item__link {
    text-decoration: none;
    color: var(--text-color);
}

.page-item__img-wrap {
    padding-top: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #CCC;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.page-body {
    padding: 8px;
}

.page-item__name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.6rem;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #979797;
}

.page-item__description {
    color: var(--text-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 3.9rem;
    overflow: hidden;
}

.page-item__date {
    opacity: .7;
    font-size: 1.3rem;
}

.page-item__type {
    --type-color: #000;
    background-color: var(--type-color);
    padding: 3px 15px;
    font-size: 1.2rem;
    color: var(--white-color);
    position: absolute;
    top: 20px;
    left: -4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 3px #979797;
}

.page-item__type::before {
    content: "";
    border-width: 4px 0 0 4px;
    border-style: solid;
    border-color: var(--type-color) transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 0;
    filter: brightness(0.6);
}

.page-item__type--software {
    --type-color: #81C784;
}

.page-item__type--website {
    --type-color: #64B5F6;
}

.page-item__type--posts {
    --type-color: #673AB7;
}

/* Footer */
.footer {
    width: 100%;
    border-top: 2px solid var(--black-color);
    min-height: 120px;
    display: flex;
    margin-top: 80px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.author {
    text-align: center;
    font-size: 1.8rem;
}